* {
	margin: 0;
	padding: 0;
}

/* VARIABLES */
:root {
	--accent-color: #00CAFF;
}

/* GLOBAL */
body {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://source.unsplash.com/collection/8951545/1920x1080);
	width: 100vw;
	height: 100vh;
	color: #f4f4f4;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* WELCOME MSG */
#welcome-msg {
	font-size: 2.5rem;
}

/* COUNTDOWN */
#countdown .flex-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#countdown .flex-wrapper div {
	margin-bottom: 25px;
	background-color: rgba(0,0,0,0.5);
	width: 80px;
	padding: 20px 10px;
	border: 3px solid var(--accent-color);
	border-radius: 20px;
}

#countdown span {
	font-size: 2.5rem;
}

#countdown p {
	font-size: 1.2rem;
}

/* QUOTE */
blockquote {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
}

blockquote p {
	font-family: 'Amatic SC', cursive;
	font-size: 1.6rem;
	margin-bottom: 10px;
}

blockquote footer {
	text-align: right;
	width: 70%;
	font-size: 0.9rem;
}