* {
	margin: 0;
	padding: 0;
}

/* Variables */
:root {
	--accent-color: #00CAFF;
}

/* Global */
body {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://source.unsplash.com/collection/8951545/1920x1080);
	width: 100vw;
	height: 100vh;
	color: #f4f4f4;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Welcome Msg */
#welcome-msg {
	font-size: 2.5rem;
}

/* Countdown */
#countdown .flex-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#countdown span {
	font-size: 2.5rem;
}

#countdown p {
	font-size: 1.2rem;
}

/* Quote */
blockquote {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 1.5rem;
}